@if(card) {
@if(display === 'images') {
<div class="card-image-container">
  <ion-img [src]="card.image" class="card-image" [ngClass]="[size]"></ion-img>
</div>
}

@if(display === 'text') {
<div class="card-text-container">
  <ion-card class="card-info">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label text-wrap>
            <div>{{ card.name }}</div>
            <p>{{ card.text }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
}
}