<ion-header>
  <app-topbar [searchOnEnter]="true" [showBackButton]="true" [defaultBackLocation]="'/faq'"></app-topbar>
</ion-header>

<header class="print-only print-header">
  {{ faqProductName() }} {{ 'Pages.FAQ.Single' | translate }}
</header>

<ion-content>
  <div class="page-container printable">

    @if(productId()) {
    <header class="print-hide print-header">
      {{ faqProductName() }} {{ 'Pages.FAQ.Single' | translate }}
    </header>
    }

    @if(currentFAQ(); as faq) {
    <ion-grid>

      <ion-row class="print-hide">
        <ion-col [sizeXs]="12" [sizeSm]="12" [sizeMd]="10" [offsetMd]="1" [sizeLg]="6" [offsetLg]="3">
          <ion-list>
            @for(entry of faq; track $index) {
            <ion-item-group>
              <ion-item-divider>
                <ion-label [id]="entry.card | cardid">
                  <span [innerHTML]="'$link:' + entry.card + '$' | faq:productId()"></span>
                </ion-label>
              </ion-item-divider>

              @for(faqEntry of entry.faq; track $index) {
              <ion-item>
                <ion-label text-wrap>
                  <h3 [innerHTML]="('Pages.FAQ.Q' | translate) +': ' + (faqEntry.q | faq:productId() | markdown)"></h3>
                  <p [innerHTML]="('Pages.FAQ.A' | translate) +': ' + (faqEntry.a | faq:productId() | markdown)"></p>
                </ion-label>
              </ion-item>
              }
            </ion-item-group>
            }
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="print-only">
        <ion-col>
          <ion-list>
            @for(entry of faq; track $index) {
            <ion-item-group>
              <ion-item-divider>
                <ion-label>
                  {{ entry.card | cardname }}
                </ion-label>
              </ion-item-divider>

              @for(faqEntry of entry.faq; track $index) {
              <ion-item>
                <ion-label text-wrap>
                  <h3 [innerText]="('Pages.FAQ.Q' | translate) +': ' + (faqEntry.q | faq | markdown)"></h3>
                  <p [innerText]="('Pages.FAQ.A' | translate) +': ' + (faqEntry.a | faq | markdown)"></p>
                </ion-label>
              </ion-item>
              }
            </ion-item-group>
            }
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    }

    @else {
    <ion-grid>
      <ion-row>
        @for(faq of faqs(); track $index) {
        <ion-col size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-card class="faq-tile" (click)="loadFAQ(faq)">
            <ion-card-header>
              <ion-card-title>{{ metaService.getProductNameByProductId(faq.productId) }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              {{ faq.faq.length | number }} {{ 'Pages.FAQ.Plural' | translate }}
            </ion-card-content>
          </ion-card>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    }
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>