@if(searchService.displayTotal() === 0) {
<div class="no-results ion-text-center">
  <h2>{{ 'Pages.SearchResults.NoResults.Header' | translate }}</h2>
  <p>{{ 'Pages.SearchResults.NoResults.Subheader' | translate }} <a target="_blank" [routerLink]="['/syntax']">{{
      'Pages.SearchResults.NoResults.HelpGuide' | translate }}</a>.</p>
</div>
}

@if(searchService.displayTotal() > 0) {
<ng-container>
  <ng-container *ngTemplateOutlet="cardSwitches"></ng-container>

  <ion-grid class="info">
    <ion-row>
      <ion-col>
        <span>{{ searchService.displayCurrent() | number }} - {{ searchService.displayMaximum() | number }}
          of&nbsp;</span> {{ searchService.displayTotal() | number }} {{ searchService.queryDesc() }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="page-container">
    <ion-grid class="cards">
      <ion-row>
        @for(card of searchService.visibleCards(); track card.id) {
        <ion-col [sizeMd]="3" [sizeSm]="6" [sizeXs]="12">
          <div class="card-container">
            <a [routerLink]="['/card', card.id]">
              <app-card-display class="card" [cardCode]="card.id"
                [display]="searchService.queryDisplayValue"></app-card-display>
            </a>
          </div>
        </ion-col>
        }
      </ion-row>
    </ion-grid>

    @if(searchService.visibleCards().length > 4) {
    <ng-container *ngTemplateOutlet="cardSwitches"></ng-container>
    }
  </div>
</ng-container>
}

<ng-template #cardSwitches>
  <ion-grid class="switches">
    <ion-row>
      <ion-col [sizeXs]="12" [sizeMd]="2">
        <div class="text-display">{{ 'Pages.SearchResults.Results.Sorter.As' | translate }}</div>
        <ion-select class="themed" [(ngModel)]="searchService.queryDisplayValue" interface="popover"
          placeholder="Card Display" (ionChange)="searchService.redoCurrentSearch()">
          <ion-select-option value="images">{{ 'Pages.SearchResults.Results.Sorter.AsImages' | translate
            }}</ion-select-option>
          <ion-select-option value="text">{{ 'Pages.SearchResults.Results.Sorter.AsText' | translate
            }}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col [sizeXs]="12" [sizeMd]="4">
        <div class="text-display">{{ 'Pages.SearchResults.Results.Sorter.Sorted' | translate }}</div>
        <ion-select class="themed" [(ngModel)]="searchService.querySortValue" interface="popover"
          placeholder="Sort Prop" (ionChange)="searchService.redoCurrentSearch()">
          <ion-select-option value="name">{{ 'Pages.SearchResults.Results.Sorter.SortedName' | translate
            }}</ion-select-option>
          <ion-select-option value="id">{{ 'Pages.SearchResults.Results.Sorter.SortedID' | translate
            }}</ion-select-option>
          <ion-select-option value="product">{{ 'Pages.SearchResults.Results.Sorter.SortedProduct' | translate
            }}</ion-select-option>
        </ion-select>

        <ion-select class="themed" [(ngModel)]="searchService.querySortByValue" interface="popover"
          placeholder="Sort Dir" (ionChange)="searchService.redoCurrentSearch()">
          <ion-select-option value="asc">{{ 'Pages.SearchResults.Results.Sorter.Asc' | translate }}</ion-select-option>
          <ion-select-option value="desc">{{ 'Pages.SearchResults.Results.Sorter.Desc' | translate
            }}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col [sizeXs]="12" [sizeMd]="6" class="pagination ion-justify-content-center">
        <ion-button fill="outline" color="secondary" [disabled]="searchService.pageValue() <= 0"
          (click)="changePage(0)">
          <span class="symbol">&laquo;</span>
        </ion-button>

        <ion-button fill="outline" color="secondary" [disabled]="searchService.pageValue() <= 0"
          (click)="changePage(searchService.pageValue() - 1)">
          <span class="symbol left">&lsaquo;</span> <span class="ion-hide-sm-down">{{
            'Pages.SearchResults.Results.Pagination.Previous' | translate }}</span>
        </ion-button>

        <ion-button fill="outline" color="secondary"
          [disabled]="searchService.pageValue() >= searchService.totalPages()"
          (click)="changePage(searchService.pageValue() + 1)">
          <span class="ion-hide-sm-down">{{ 'Pages.SearchResults.Results.Pagination.Next' | translate }} {{
            searchService.cardsPerPage }}</span> <span class="symbol right">&rsaquo;</span>
        </ion-button>

        <ion-button fill="outline" color="secondary"
          [disabled]="searchService.pageValue() >= searchService.totalPages()"
          (click)="changePage(searchService.totalPages())">
          <span class="symbol">&raquo;</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>