<ion-header>
  <app-topbar (enter)="search($event)"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">
    @if(cardData) {
    <ion-grid>
      <ion-row>
        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4" [offsetLg]="2">
          <app-card-display class="card" [cardCode]="cardData.id" [size]="'large'"
            [display]="'images'"></app-card-display>
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4">
          <ion-card class="card-info">
            <ion-card-header>
              <ion-card-title>{{ cardData.name }}</ion-card-title>
              <ion-card-subtitle>
                {{ cardData.id }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item *ngIf="cardData.text">
                  <ion-label text-wrap>
                    <div class="flavortext">
                      <em>{{ cardData.text }}</em>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item>
                  <ion-label text-wrap>
                    <ion-chip *ngFor="let tag of cardData.tags" color="primary" (click)="searchTag(tag)">{{ tag
                      }}</ion-chip>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    }
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>