.page-container {
  margin-top: 1em;
}

.card-info {
  &:not(:first-child) {
    margin-top: 2em;
  }

  app-cardicon {
    display: inline-block;
    margin-left: 3px;
  }
}

ion-card-header {
  padding-bottom: 0;
}

.title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.subtitle {
  margin-top: -0.5em;
  margin-bottom: 1em;

  font-size: 0.75em;

  font-style: italic;
}

.like-this {
  margin-top: 3em;
  border-top: 1px dashed #ccc;
}

.tools {
  margin-top: 3em;
  border-top: 1px dashed #ccc;

  .price {
    margin-left: 1em;
  }

  @media screen and (min-width: 576px) {
    ion-col {
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  @media screen and (min-width: 768px) {
    ion-col {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }
}

.like-deck {
  display: flex;
  justify-content: center;
  align-items: center;
}
