<ion-header>
  <app-topbar [searchOnEnter]="true" [showBackButton]="true"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container" #cardPage>
    @if(cardData(); as cardData) {
    <ion-grid>
      <ion-row>
        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="6">
          <ion-row>
            <ion-col class="card-col">
              <app-card-display class="card" [cardCode]="cardData.id" [size]="'large'"></app-card-display>
            </ion-col>
          </ion-row>

          @if(cardData.flipSide) {
          <ion-row>
            <ion-col class="flip-col">
              <ion-button color="secondary" (click)="loadCardData(cardData.flipSide)">Flip Card</ion-button>
            </ion-col>
          </ion-row>
          }
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4">
          <ion-card class="card-info">
            <ion-card-header>
              <ion-card-title>
                <h1>{{ cardData.name }}</h1>

                <ion-button fill="clear" color="secondary" ngxClipboard [cbContent]="copyText"
                  (click)="notify.showMessage('Copied URL to clipboard!')">
                  <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
                </ion-button>
              </ion-card-title>

              <ion-card-subtitle>
                {{ cardData.product | productname }} &middot; {{ cardData.id }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label text-wrap>
                    <div>
                      <app-card-text [text]="cardData.text"></app-card-text>
                    </div>

                    @if(template) {
                    <br>
                    <div [innerHTML]="template"></div>
                    }
                  </ion-label>
                </ion-item>

                <ion-item>
                  <ion-label text-wrap>
                    @for(tag of cardData.tags; track tag) {
                    <ion-chip color="secondary" (click)="searchTag(tag)">{{ tag }}</ion-chip>
                    }
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          @if(faq().length > 0) {
          <ion-card class="card-info" #faqSection itemscope itemtype="https://schema.org/FAQPage">
            <ion-card-header>
              <ion-card-title>
                {{ 'Pages.Card.FAQ' | translate }}

                <ion-button fill="clear" color="secondary" [routerLink]="['/faq']"
                  [queryParams]="{ locale: cardData.locale, productId: cardData.game }" [fragment]="cardData.id">
                  <ion-icon slot="icon-only" name="link-outline"></ion-icon>
                </ion-button>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                @for(entry of faq(); track $index) {
                <ion-item itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                  <ion-label text-wrap>
                    <h3 itemprop="name" [innerHTML]="'Q: ' + (entry.q | faq:cardData.game | markdown)"></h3>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                      <p itemprop="text" [innerHTML]="'A: ' + (entry.a | faq:cardData.game | markdown)"></p>
                    </div>
                  </ion-label>
                </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
          }

          @if(errata().length > 0) {
          <ion-card class="card-info" #errataSection>
            <ion-card-header>
              <ion-card-title>
                {{ 'Pages.Card.Errata' | translate }}

                <ion-button fill="clear" color="secondary" [routerLink]="['/errata']"
                  [queryParams]="{ locale: cardData.locale, productId: cardData.game }" [fragment]="cardData.id">
                  <ion-icon slot="icon-only" name="link-outline"></ion-icon>
                </ion-button>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                @for(entry of errata(); track $index) {
                <ion-item>
                  <ion-label text-wrap>
                    <p [innerHTML]="'&bull; ' + entry.text | faq:cardData.game | markdown"></p>
                  </ion-label>
                </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
          }

          @if(metaService.getRulesByProductId(cardData.game); as rulesUrl) {
          <ion-card class="card-info">
            <ion-card-header>
              <ion-card-title>{{ 'Pages.Card.More' | translate }} {{
                metaService.getProductNameByProductId(cardData.game) }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                <ion-item [href]="rulesUrl" target="_blank">
                  <ion-icon slot="start" name="link-outline"></ion-icon>
                  {{ 'Pages.Card.Rules' | translate }}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
    }
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>