<ion-header>
  <app-topbar (enter)="search($event)"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <ion-grid class="search-grid" *ngIf="searchQuery">

      <!-- card name -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="person-outline" color="primary"></ion-icon>
          <span>Card Name</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ion-input (ionChange)="saveQuery()" [(ngModel)]="searchQuery.name"
            placeholder="Search any card name"></ion-input>
        </ion-col>
      </ion-row>

      <!-- attribute
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="color-filter-outline" color="primary"></ion-icon>
          <span>Attributes</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select
            [items]="allAttributes"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            placeholder="Select attributes"
            (change)="saveQuery()"
            [(ngModel)]="searchQuery.attribute">
          </ng-select>
        </ion-col>
      </ion-row>
       -->

      <!-- expansion
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="library-outline" color="primary"></ion-icon>
          <span>Expansion</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select
            [items]="allExpansions"
            [multiple]="true"
            [closeOnSelect]="false"
            [searchable]="true"
            placeholder="Select expansions"
            (change)="saveQuery()"
            [(ngModel)]="searchQuery.expansion">
          </ng-select>
        </ion-col>
      </ion-row>
       -->

      <!-- tags -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="pricetag-outline" color="primary"></ion-icon>
          <span>Tags</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select [items]="allTags" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
            placeholder="Select tags" (change)="saveQuery()" [(ngModel)]="searchQuery.tags">
          </ng-select>
        </ion-col>
      </ion-row>

      <!-- search! -->
      <ion-row class="actions">
        <ion-col class="criteria" [sizeXs]="2" [sizeMd]="2" [offsetMd]="2"></ion-col>
        <ion-col class="search" [sizeXs]="10" [sizeMd]="6">
          <ion-button (click)="querySearch()" color="primary" [disabled]="!getSearchQuery()">Search</ion-button>
          <ion-button (click)="reset()" color="warning" fill="outline">Reset</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>