<ion-header>
  <app-topbar (enter)="search($event)"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">
    @if(searchQuery) {
    <ion-grid class="search-grid">

      <!-- card name -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="person-outline" color="primary"></ion-icon>
          <span>Card Name</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ion-input (ionChange)="saveQuery()" [(ngModel)]="searchQuery.name"
            placeholder="Search any card name"></ion-input>
        </ion-col>
      </ion-row>

      <!-- product -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="game-controller-outline" color="primary"></ion-icon>
          <span>Product</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select [items]="allProducts" [closeOnSelect]="true" [searchable]="true" placeholder="Select product"
            (change)="changeProduct(); saveQuery()" [(ngModel)]="searchQuery.product">
          </ng-select>
        </ion-col>
      </ion-row>

      <!-- subproducts -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="hardware-chip-outline" color="primary"></ion-icon>
          <span>Subproducts</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select [items]="visibleSubproducts" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
            placeholder="Select subproducts" (change)="saveQuery()" [(ngModel)]="searchQuery.subproducts">
          </ng-select>
        </ion-col>
      </ion-row>

      <!-- tags -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">
          <ion-icon name="pricetags-outline" color="primary"></ion-icon>
          <span>Tags</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select [items]="visibleTags" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
            placeholder="Select tags" (change)="saveQuery()" [(ngModel)]="searchQuery.tags">
          </ng-select>
        </ion-col>
      </ion-row>

      <!-- search! -->
      <ion-row class="actions">
        <ion-col class="criteria" [sizeXs]="2" [sizeMd]="2" [offsetMd]="2"></ion-col>
        <ion-col class="search" [sizeXs]="10" [sizeMd]="6">
          <ion-button (click)="querySearch()" color="primary" [disabled]="!getSearchQuery()">Search</ion-button>
          <ion-button (click)="reset()" color="warning" fill="outline">Reset</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    }
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>