<ion-header>
  <app-topbar [searchOnEnter]="true"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">
    @if(searchQuery) {
    <ion-grid class="search-grid">

      <!-- card name -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">

          @if(metaService.getSiteConfigProperty('icons.advanced.CardName')) {
          <ion-icon [name]="metaService.getSiteConfigProperty('icons.advanced.CardName')" color="primary"></ion-icon>
          }
          <span>{{ 'Pages.AdvancedSearch.CardNameLabel' | translate }}</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ion-input (ionChange)="saveQuery()" [(ngModel)]="searchQuery.name"
            [placeholder]="'Pages.AdvancedSearch.CardNamePlaceholder' | translate"></ion-input>
        </ion-col>
      </ion-row>

      <!-- product -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">

          @if(metaService.getSiteConfigProperty('icons.advanced.Product')) {
          <ion-icon [name]="metaService.getSiteConfigProperty('icons.advanced.Product')" color="primary"></ion-icon>
          }
          <span>{{ 'Pages.AdvancedSearch.ProductLabel' | translate }}</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select [items]="allProducts" [closeOnSelect]="true" [searchable]="true"
            [placeholder]="'Pages.AdvancedSearch.ProductPlaceholder' | translate"
            (change)="changeProduct($event); saveQuery()" (clear)="changeProduct($event); saveQuery()"
            [(ngModel)]="searchQuery.product">
          </ng-select>
        </ion-col>
      </ion-row>

      <!-- subproducts -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">

          @if(metaService.getSiteConfigProperty('icons.advanced.Subproducts')) {
          <ion-icon [name]="metaService.getSiteConfigProperty('icons.advanced.Subproducts')" color="primary"></ion-icon>
          }

          <span>{{ 'Pages.AdvancedSearch.SubproductsLabel' | translate }}</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select [items]="visibleSubproducts" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
            [placeholder]="'Pages.AdvancedSearch.SubproductsPlaceholder' | translate" (change)="saveQuery()"
            [(ngModel)]="searchQuery.subproducts">
          </ng-select>
        </ion-col>
      </ion-row>

      <!-- tags -->
      <ion-row>
        <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">

          @if(metaService.getSiteConfigProperty('icons.advanced.Tags')) {
          <ion-icon [name]="metaService.getSiteConfigProperty('icons.advanced.Tags')" color="primary"></ion-icon>
          }
          <span>{{ 'Pages.AdvancedSearch.TagsLabel' | translate }}</span>
        </ion-col>

        <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
          <ng-select #tagSearch [items]="visibleTags" [multiple]="true" [closeOnSelect]="false" [searchable]="true"
            [clearSearchOnAdd]="true" [placeholder]="'Pages.AdvancedSearch.TagsPlaceholder' | translate"
            (change)="saveQuery()" [(ngModel)]="searchQuery.tags">
          </ng-select>
        </ion-col>
      </ion-row>

      @for(filter of visibleFilters; track $index) {
      <ion-row>
        @switch(filter.type) {
        @case ('number') {
        <ng-container *ngTemplateOutlet="number; context: { filter: filter }"></ng-container>
        }
        }
      </ion-row>
      }

      <!-- search! -->
      <ion-row class="actions">
        <ion-col class="criteria" [sizeXs]="2" [sizeMd]="2" [offsetMd]="2"></ion-col>
        <ion-col class="search" [sizeXs]="10" [sizeMd]="6">
          <ion-button (click)="querySearch()" color="primary" [disabled]="!getSearchQuery()">
            {{ 'Pages.AdvancedSearch.Actions.Search' | translate }}
          </ion-button>

          <ion-button (click)="reset()" color="warning" fill="outline">
            {{ 'Pages.AdvancedSearch.Actions.Reset' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
    }
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>

<ng-template #number let-filter="filter">
  <ion-col class="criteria" [sizeXs]="12" [sizeMd]="2" [offsetMd]="2">

    @if(metaService.getSiteConfigProperty('icons.advanced.' + filter.name | stripspaces)) {
    <ion-icon [name]="metaService.getSiteConfigProperty('icons.advanced.' + filter.name | stripspaces)"
      color="primary"></ion-icon>
    }
    <span>{{ 'Pages.AdvancedSearch.' + (filter.name | stripspaces) + 'Label' | translate }}</span>
  </ion-col>

  <ion-col class="search" [sizeXs]="12" [sizeMd]="6">
    <ion-row>
      <ion-col size="6">
        <ion-select interface="popover" [(ngModel)]="searchQuery.meta[filter.prop].operator" (ionChange)="saveQuery()"
          [interfaceOptions]="{ cssClass: 'operator-select' }">
          <ion-select-option *ngFor="let operator of allOperators" [value]="operator.value">
            {{ 'Pages.AdvancedSearch.Operators.' + operator.label | translate }}
          </ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="2"></ion-col>

      <ion-col size="4">
        <ion-input (ionChange)="saveQuery()"
          [placeholder]="'Pages.AdvancedSearch.' + (filter.name | stripspaces) + 'Placeholder' | translate"
          [(ngModel)]="searchQuery.meta[filter.prop].value"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="note">
      <ion-col>
        {{ 'Pages.AdvancedSearch.NumberText' | translate }}
      </ion-col>
    </ion-row>
  </ion-col>
</ng-template>