<div class="search-dropdown-container" (click)="popover.present($event)" (keydown.enter)="popover.present()"
  tabindex="0">
  <ion-img class="search-icon"
    [src]="'https://ledercardcdn.seiyria.com/symbols/product-' + chosenProduct + '.webp'"></ion-img>

  <ion-icon class="search-dropdown" name="caret-down-outline" color="black"></ion-icon>
</div>

<ion-searchbar #search class="search themed" [ngClass]="[big() ? 'big' : '']" searchIcon="''"
  (ionInput)="changeText(searchFieldValue)" (ionChange)="changeText(searchFieldValue)"
  (keyup.enter)="doEnter(searchFieldValue)" [(ngModel)]="query" [placeholder]="placeholder"></ion-searchbar>

<ion-popover #popover [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item class="product-entry" (click)="changeProduct('default')">
          <ion-img slot="start" class="product-icon"
            [src]="'https://ledercardcdn.seiyria.com/symbols/product-default.webp'"></ion-img>

          <ion-label>
            {{ 'Common.Company' | translate }}
          </ion-label>
        </ion-item>

        @for(product of metaService.products; track product.id) {
        <ion-item class="product-entry" (click)="changeProduct(product.id)">
          <ion-img slot="start" class="product-icon"
            [src]="'https://ledercardcdn.seiyria.com/symbols/product-' + product.id + '.webp'"></ion-img>

          <ion-label>
            {{ 'Common.Products.' + (product.name | titlecase) | translate }}
          </ion-label>
        </ion-item>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>