.search ::ng-deep .searchbar-input {
  padding-inline-start: calc(3.4375rem + 16px) !important;
}

.big {
  padding: 0;

  &::ng-deep .searchbar-input {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.search-dropdown-container {
  position: absolute;
  top: 24px;
  left: 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 12;
  cursor: pointer;
}

.search-icon {
  height: 32px;
  width: 32px;
}

.product-entry {
  cursor: pointer;
}

.product-icon {
  height: 32px;
  width: 32px;
}
