.big {
  padding: 0;

  &::ng-deep .searchbar-input {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.search-icon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  left: calc(24px);
  z-index: 10;
  height: 32px;
  width: 32px;
}

.product-entry {
  cursor: pointer;
}

.product-icon {
  height: 32px;
  width: 32px;
}
