<div class="below-the-fold">
  <div class="map">
    <ion-grid>
      <ion-row>
        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Common.AppName' | translate }}</div>
          <hr>
          <div class="map-item">
            <a routerLink="/">{{ 'Components.BelowTheFold.Home' | translate }}</a>
          </div>
          <div class="map-item">
            @if(visualMode === 'light') {
            <a href="javascript:void(0)" (click)="toggleMode()">
              {{ 'Components.BelowTheFold.DarkMode' | translate }}
            </a>
            }

            @else {
            <a href="javascript:void(0)" (click)="toggleMode()">
              {{ 'Components.BelowTheFold.LightMode' | translate }}
            </a>
            }
          </div>
          <div class="map-item">
            <a href="javascript:void(0)" (click)="langselect.open($event)">
              {{ 'Languages.' + localeService.currentLocale() | translate }}
            </a>

            <ion-select #langselect class="lang-selector" interface="popover" (ionChange)="changeLocale($event)">

              @for(locale of localeService.allLocales; track $index) {
              <ion-select-option [value]="locale">
                {{ 'Languages.' + locale | translate }}
              </ion-select-option>
              }
            </ion-select>
          </div>
        </ion-col>

        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Components.BelowTheFold.CategoryCards' | translate }}</div>
          <hr>

          <div class="map-item">
            <a routerLink="/advanced">{{ 'Common.Actions.AdvancedLong' | translate }}</a>
          </div>

          <div class="map-item">
            <a routerLink="/syntax">{{ 'Common.Actions.SyntaxLong' | translate }}</a>
          </div>

          <div class="map-item">
            <a routerLink="/products">{{ 'Common.Actions.ProductsLong' | translate }}</a>
          </div>
        </ion-col>

        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Components.BelowTheFold.CategorySupport' | translate }}</div>
          <hr>

          @if(metaService.getSiteConfigProperty('features.faq')) {
          <div class="map-item">
            <a routerLink="/faq">{{ 'Components.BelowTheFold.FAQ' | translate }}</a>
          </div>
          }

          @if(metaService.getSiteConfigProperty('features.errata')) {
          <div class="map-item">
            <a routerLink="/errata">{{ 'Components.BelowTheFold.Errata' | translate }}</a>
          </div>
          }

          @if(metaService.getSiteConfigProperty('features.changelog')) {
          <div class="map-item">
            <a routerLink="/changelog">{{ 'Components.BelowTheFold.Changelog' | translate }}</a>
          </div>
          }

          @if(metaService.getSiteConfigProperty('features.askaquestion')) {
          <div class="map-item">
            <a target="_blank" [href]="metaService.getSiteConfigProperty('links.askaquestion')">{{
              'Components.BelowTheFold.Ask' | translate
              }}</a>
          </div>
          }
        </ion-col>

        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Components.BelowTheFold.CategoryMore' | translate }}</div>
          <hr>

          @if(metaService.getSiteConfigProperty('features.ruleslibrary')) {
          <div class="map-item">
            <a target="_blank" [href]="metaService.getSiteConfigProperty('links.ruleslibrary')">{{
              'Components.BelowTheFold.Ruleslibrary' | translate
              }}</a>
          </div>
          }

          @if(metaService.getSiteConfigProperty('features.github')) {
          <div class="map-item">
            <a target="_blank" [href]="metaService.getSiteConfigProperty('links.github')">{{
              'Components.BelowTheFold.GitHub' | translate
              }}</a>
          </div>
          }

          @if(metaService.getSiteConfigProperty('features.discord')) {
          <div class="map-item">
            <a target="_blank" [href]="metaService.getSiteConfigProperty('links.discord')">{{
              'Components.BelowTheFold.Discord' | translate }}</a>
          </div>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="legal">
    {{ 'Components.BelowTheFold.Copyright' | translate }}
  </div>

  <br>
  <div class="creator">
    {{ 'Components.BelowTheFold.CreatedText' | translate }} <a target="_blank"
      [href]="metaService.getSiteConfigProperty('links.creator')">{{ 'Components.BelowTheFold.CreatedBy' | translate
      }}</a>.
  </div>
</div>
