<div class="below-the-fold">
  <div class="map">
    <ion-grid>
      <ion-row>
        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Common.AppName' | translate }}</div>
          <hr>
          <div class="map-item">
            <a routerLink="/">{{ 'Components.BelowTheFold.Home' | translate }}</a>
          </div>
          <div class="map-item">
            @if(visualMode === 'light') {
            <a href="javascript:void(0)" (click)="toggleMode()">
              {{ 'Components.BelowTheFold.DarkMode' | translate }}
            </a>
            }

            @else {
            <a href="javascript:void(0)" (click)="toggleMode()">
              {{ 'Components.BelowTheFold.LightMode' | translate }}
            </a>
            }
          </div>
          <div class="map-item">
            <a href="javascript:void(0)" (click)="langselect.open($event)">
              {{ 'Languages.' + localeService.currentLocale() | translate }}
            </a>

            <ion-select #langselect class="lang-selector" interface="popover" (ionChange)="changeLocale($event)">

              @for(locale of localeService.allLocales; track $index) {
              <ion-select-option [value]="locale">
                {{ 'Languages.' + locale | translate }}
              </ion-select-option>
              }
            </ion-select>
          </div>
        </ion-col>

        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Components.BelowTheFold.CategoryCards' | translate }}</div>
          <hr>
          <div class="map-item">
            <a routerLink="/advanced">{{ 'Common.Actions.AdvancedLong' | translate }}</a>
          </div>
          <div class="map-item">
            <a routerLink="/syntax">{{ 'Common.Actions.SyntaxLong' | translate }}</a>
          </div>
          <div class="map-item">
            <a routerLink="/products">{{ 'Common.Actions.ProductsLong' | translate }}</a>
          </div>
        </ion-col>

        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Components.BelowTheFold.CategorySupport' | translate }}</div>
          <hr>
          <div class="map-item">
            <a routerLink="/faq">{{ 'Components.BelowTheFold.FAQ' | translate }}</a>
          </div>
          <div class="map-item">
            <a target="_blank" href="https://ledergames.com/pages/contact">{{ 'Components.BelowTheFold.Ask' | translate
              }}</a>
          </div>
        </ion-col>

        <ion-col [sizeMd]="3" [sizeXs]="12">
          <div class="map-title">{{ 'Components.BelowTheFold.CategoryMore' | translate }}</div>
          <hr>
          <div class="map-item">
            <a target="_blank" href="https://github.com/LederCards">{{ 'Components.BelowTheFold.GitHub' | translate
              }}</a>
          </div>
          <div class="map-item">
            <a target="_blank" href="https://discord.com/servers/woodland-warriors-476234833572397056">{{
              'Components.BelowTheFold.Discord' | translate }}</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="legal">
    {{ 'Components.BelowTheFold.Copyright' | translate }}
  </div>
</div>