<ion-header>
  <app-topbar [searchOnEnter]="true"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">

    <ion-grid class="reference-top">
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1>{{ 'Common.AppName' | translate }} {{ 'Pages.SyntaxHelp.Header' | translate }}</h1>
          <h5>{{ 'Common.AppName' | translate }} {{ 'Pages.SyntaxHelp.Subheader' | translate }}</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        @for(operator of allOperators; track $index) {
        <ion-col [sizeXs]="12" [sizeMd]="3">
          <ion-button shape="round" expand="full" fill="outline" (click)="navigateTo(operator.id)">
            <ion-icon [name]="operator.icon" slot="start"></ion-icon>
            {{ 'Pages.SyntaxHelp.Operators.' + operator.name + '.Name' | translate }}
          </ion-button>
        </ion-col>
        }
      </ion-row>
    </ion-grid>

    <ion-grid class="reference-list">
      @for(operator of allOperators; track $index) {
      <ion-row class="reference-row" [style.--accent-color]="operator.color">
        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4" [offsetLg]="2" [sizeXl]="3" [offsetXl]="3">
          <h3 class="operator-title" [id]="operator.id">
            <ion-icon [name]="operator.icon" [style.color]="operator.color"></ion-icon>
            <span class="text">{{ 'Pages.SyntaxHelp.Operators.' + operator.name + '.Name' | translate }}</span>
          </h3>

          <p [innerHTML]="formatText('Pages.SyntaxHelp.Operators.' + operator.name + '.Text')"></p>
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="6" [sizeLg]="4" [sizeXl]="3">
          @for(example of operator.examples; track $index) {
          <ion-row>
            <ion-col [size]="12">
              <ion-card class="example">
                <ion-card-content>
                  <h4 class="example-syntax"
                    [innerHTML]="formatText('Pages.SyntaxHelp.Operators.' + operator.name + '.Examples.' + $index + '.Example')">
                  </h4>
                  <p class="example-text"
                    [innerHTML]="formatText('Pages.SyntaxHelp.Operators.' + operator.name + '.Examples.' + $index + '.Text')">
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          }
        </ion-col>
      </ion-row>
      }
    </ion-grid>
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>