<ion-header>
  <app-topbar [searchOnEnter]="true"></app-topbar>
</ion-header>

<ion-content>
  <div class="page-container">

    <ion-grid>
      @for(product of allProducts; track product.id) {
      <ion-row>
        <ion-col [offsetXs]="0" [sizeXs]="12" [offsetSm]="2" [sizeSm]="8" [offsetMd]="2" [sizeMd]="8">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ product.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-list>
                @for(subproduct of product.subproducts; track subproduct.id) {
                <ion-item>
                  <ion-label text-wrap>
                    <ion-row>
                      <ion-col class="set-name">
                        <a [routerLink]="['/search']"
                          [queryParams]="{ q: formatSetNameForSearch(product.id, subproduct.id) }">
                          {{ subproduct.name }}
                        </a>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col>
                        <p>{{ subproduct.desc }}</p>
                      </ion-col>
                    </ion-row>
                  </ion-label>
                </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      }
    </ion-grid>

  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>