<ion-toolbar color="primary">
  @if(showBackButton()) {
  <ion-buttons slot="start">
    <ion-back-button [defaultHref]="defaultBackLocation()"></ion-back-button>
  </ion-buttons>
  }

  <ion-grid>
    <ion-row>
      <ion-col size-xs="10" size-sm="10" size-md="4" size-lg="6">

        @if(title(); as titleText) {
        <ion-title>
          {{ titleText }}
        </ion-title>
        }

        @if(showSearch()) {
        <app-omnisearch (type)="doType($event)" (enter)="doEnter($event)" [initialQuery]="query()"></app-omnisearch>
        }
      </ion-col>

      <ion-col size-xs="2" size-sm="2" size-md="8" size-lg="6">
        <div class="ion-hide-md-up popover">
          <ion-button fill="clear" color="light" (click)="popover.present($event)">
            <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
          </ion-button>

          <ion-popover reference="event" [dismissOnSelect]="true" #popover>
            <ng-template>
              <ion-content class="ion-padding">
                <ion-list>
                  <div #buttonsMobile>
                    <ng-content select="[slot='buttons-mobile']"></ng-content>
                  </div>

                  @if(!buttonsMobile.hasChildNodes()) {
                  <ng-container>
                    <ion-item [routerLink]="['/advanced']"
                      detail="false">@if(metaService.getSiteConfigProperty('icons.topbar.advanced')) {
                      <ion-icon slot="start"
                        [name]="metaService.getSiteConfigProperty('icons.topbar.advanced')"></ion-icon>
                      }
                      {{ 'Common.Actions.AdvancedShort' | translate }}
                    </ion-item>

                    <ion-item [routerLink]="['/syntax']" detail="false">
                      @if(metaService.getSiteConfigProperty('icons.topbar.syntax')) {
                      <ion-icon slot="start"
                        [name]="metaService.getSiteConfigProperty('icons.topbar.syntax')"></ion-icon>
                      }
                      {{ 'Common.Actions.SyntaxShort' | translate }}
                    </ion-item>

                    <ion-item [routerLink]="['/products']" detail="false">

                      @if(metaService.getSiteConfigProperty('icons.topbar.products')) {
                      <ion-icon slot="start"
                        [name]="metaService.getSiteConfigProperty('icons.topbar.products')"></ion-icon>
                      }
                      {{ 'Common.Actions.ProductsShort' | translate }}
                    </ion-item>
                  </ng-container>
                  }

                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>

        <div class="ion-hide-md-down buttons">
          <div #buttonsDesktop>
            <ng-content select="[slot='buttons-desktop']"></ng-content>
          </div>

          @if(!buttonsDesktop.hasChildNodes()) {
          <ng-container>
            <ion-button fill="clear" color="light" [routerLink]="['/advanced']">
              <ion-icon slot="start" name="funnel-outline"></ion-icon>
              {{ 'Common.Actions.AdvancedShort' | translate }}
            </ion-button>

            <ion-button fill="clear" color="light" [routerLink]="['/syntax']">
              <ion-icon slot="start" name="help-circle-outline"></ion-icon>
              {{ 'Common.Actions.SyntaxShort' | translate }}
            </ion-button>

            <ion-button fill="clear" color="light" [routerLink]="['/products']">
              <ion-icon slot="start" name="file-tray-full-outline"></ion-icon>
              {{ 'Common.Actions.ProductsShort' | translate }}
            </ion-button>
          </ng-container>
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>