<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid class="search-container">
      <ion-row class="search-text">
        <ion-col>
          <strong>{{ 'Common.AppName' | translate }}</strong> {{ 'Pages.Homepage.SubText' | translate }} <strong>{{
            'Common.Company' | translate }}</strong>.
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="search-bar-container">
          <app-omnisearch (enter)="search($event)" [big]="true"></app-omnisearch>
        </ion-col>
      </ion-row>

      <ion-row class="search-actions">
        <ion-col>
          <ion-button fill="outline" expand="block" color="light" routerLink="/advanced">{{
            'Common.Actions.AdvancedLong' | translate }}</ion-button>
        </ion-col>

        <ion-col>
          <ion-button fill="outline" expand="block" color="light" routerLink="/syntax">{{ 'Common.Actions.SyntaxLong' |
            translate }}</ion-button>
        </ion-col>

        <ion-col>
          <ion-button fill="outline" expand="block" color="light" routerLink="/products">{{
            'Common.Actions.ProductsLong' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <app-below-the-fold></app-below-the-fold>
</ion-content>